<header>
    <div class="topnav" id="myTopnav" style="background:#f6f6f6;">   
         <a routerLink="/home"  data-toggle="pill"><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/logo-boe.svg?h=48&la=en&mh=61&w=215&hash=AC948B7462B3B0F4C12592CE7C11D3ABD746AB6D" style="width:215px;height: 48px;"></a>
         <span style="float: right;">
          
        <a data-toggle="pill" href="" style="background-color: #aa0b3c;color:white">Browse</a>
        <a data-toggle="pill"  routerLink="/About" >About</a>
        <a data-toggle="pill" routerLink="/News" >News and Publication</a>
        <a data-toggle="pill" href="#">Mueseum</a>
         <a data-toggle="pill" routerLink="/Contact">Contact</a>
      <a data-toggle="pill" href="">  <form action="" method="get" >
        
            <div style="display:flex;font-size: 10px;">
          <input type="search" name="SearchTerm"  class="form-control" placeholder="Search the Bank of England"   autocomplete="off" style="width:212px;height: 38px;border:none;">
        
          <button class="btn btn-danger" type="submit" style="height:38px;width:42px;"><i  class="fa fa-search" style="font-size: 21px;"></i></button>
          </div>
            
                
  </form></a>

         <a href="#" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
     </span>
     
    </div>
    </header>


<main>

<section style="background: #00294e url(https://www.bankofengland.co.uk/-/media/boe/images/banners/about-2.jpg?h=541&amp;w=1440&amp;hash=A3D403E0AEE2555E4782D832B8A7BD6380F7D130;);background-repeat: no-repeat;">
<div class="container mt-5 pt-5 pb-5">
  <div class="pt-1 mt-5 pb-5" style="color: white;">
    <div class="row pt-5 pb-5">
      <div class="col-md-1"></div>
      <div class="col-md-4"><span>
        <a href="" style="color: white;text-decoration:underline;">Home</a>/
        <a href="" style="color: white;text-decoration: underline;">About</a>
        </span>
        <div style="font-size: 59.4px;">About Us </div>
        <div  style="font-size: 21.96px;"><img src="../../assets/img/info.png" class="pr-1" style="height: 30px;"> <span >We are the UK's central bank.</span></div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div style="border-left:4px solid white; ">
          <div style="padding-left:30px;">
          <h3>Related link</h3>
     <div><a href="" style="color:white;font-size: 18px;"><img src="../../assets/img/sign.png" class="pr-2">Inside the Bank of England</a> </div>
     <div><a href="" style="color:white;font-size: 18px;"><img src="../../assets/img/sign.png" class="pr-2">Bank of England Annual Report</a> </div>

        </div>
          
        </div>
       
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
</section>


<section>
<div class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
<div class="row pb-4 pt-3 mb-5" style="background-color: #f6f6f6;font-size: 17px;">

  <div class="col-md-3">
    
<div><b>In this section</b></div>
<div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">Corporate responsibility</a></div>
<div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">Governance and funding</a></div>
  
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="pt-4">
    <div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">History</a></div>
<div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">Our People</a></div>
  </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="pt-4">
      <div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">Get involved</a></div>
  <div> <a href="" style="color:#aa0b3c; "><img src="../../assets/img/next.png" class="pr-1">Education</a></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


      </div>
      <div class="col-md-1"></div>
      </div>
  </div>
</div>


<div class="container">
  <div class="row mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div> <h2 style="color:#005e6e;">Our job is to make sure the UK has:</h2>  </div>
     <div class="row mt-5">
      <div class="col-md-3">
        <div  class="text-center" >
        <a href="" style="color:#aa0b3c; font-size: 21px; ">
   <div style="width: 50%; margin:auto;"> <img src="https://www.bankofengland.co.uk/-/media/boe/images/icons/banknotes-3.svg?la=en&mh=40&mw=40&hash=70E471B26106FA2D527A33CE5509C58DDEABA33B" ></div>
     Secure banknotes
        </a>
        </div>
      </div>
      <div class="col-md-3">
        <div  class="text-center" >
          <a href="" style="color:#aa0b3c; font-size: 21px; ">
            <div style="width: 50%; margin:auto;">  <img src="https://www.bankofengland.co.uk/-/media/boe/images/icons/competitive-salary.svg?h=40&la=en&mh=40&mw=40&w=40&hash=FB3AAE93B82C067ACE9C2008A46D7F887772B0B6" ></div>
Stable prices
          </a>
          </div>
      </div>
      <div class="col-md-3">
        <div  class="text-center" >
          <a href="" style="color:#aa0b3c; font-size: 21px; ">
            <div style="width: 50%; margin:auto;">  <img src="https://www.bankofengland.co.uk/-/media/boe/images/icons/regulate-other-banks.svg?h=40&la=en&mh=40&mw=40&w=40&hash=119A9FCF0943B15A31F2EB8008CD2333654AA7E0" ></div>
            Safe and sound banks
          </a>
          </div>
      </div>
      <div class="col-md-3">
        <div  class="text-center" >
          <a href="" style="color:#aa0b3c; font-size: 21px; ">
            <div style="width: 50%; margin:auto;">  <img src="https://www.bankofengland.co.uk/-/media/boe/images/icons/fsr-website-colours_bank-resilience.svg?h=40&la=en&mh=40&mw=40&w=40&hash=764F9274FB220ED6CBF98766E9315C92175CCD2B" ></div>
            A resilient financial system
          </a>
          </div>
      </div>
     </div>
    
    </div>
    <div class="col-md-1"></div>
  </div>


<div class="row mt-5">
  <div class="col-md-1"></div>
  <div class="col-md-10">
     <h2 style="color:#005e6e;">We are the UK’s central bank:</h2> 
    <div class="row pt-2">
      <div class="col-md-9">
        <p style="font-size:16px;">One of our main jobs is to make sure you can pay for things easily and securely in the UK. So we produce banknotes (cash) and oversee many of the other payment systems you use (eg with a debit or credit card).</p>
        <p style="font-size:16px;">We also work to keep the cost of living stable so your money keeps its purchasing power. One way we do this is by changing the main interest rate in the UK.</p>
        <p style="font-size:16px;">And we regulate UK banks and other financial firms so you know they are safe and sound. </p>
        <p style="font-size:16px;">To find out more, you can watch   <a href="" style="color:#aa0b3c;text-decoration: underline;">our 60-second video</a> about what we do. Or read our short  <a href="" style="color:#aa0b3c;text-decoration: underline;">guides to the economy </a>and visit our free  <a href="" style="color:#aa0b3c;text-decoration: underline;">museum.</a> </p>
       
      </div>
      <div class="col-md-3"></div>
<div class="col-md-6">
  <div style="background-image: url(https://img.youtube.com/vi/cmzXGgzWH7g/maxresdefault.jpg);position: relative;top:0px;background-position: 50%;padding-bottom: 55%;height: 0px ;left: 0px;background-size: cover;">
    <a href="" > <img src="../../assets/img/youtube.png" style="padding: 90px 187px;"></a>
    </div>
   <p style="font-size:16px;">Bank of England's Knowledge Bank guide to 'What is the Bank of England?'</p>
</div>
<div class="col-md-6"></div>



    </div>
    <div class="row mt-5">
<div class="col-md-9">
  <h2 style="color:#005e6e;">Our job</h2>  
   <h4 class="mt-4" style="color:#005e6e;">We provide ways to pay for things safely</h4>  
<p style="font-size: 16.5px;">We produce £5, £10, £20 and £50  <a href="" style="color:#aa0b3c;text-decoration: underline;">banknotes </a> you can trust. They have security features that make them difficult to counterfeit (fake). Our  <a href="" style="color:#aa0b3c;text-decoration: underline;">new £20 </a> is our securest note ever. It’s coming on 20 February 2020.</p>
<p style="font-size: 16.5px;">We supervise payment services (eg VISA), which help you pay for things easily and safely. We also run the core services that enable people, businesses and banks to make large transfers (eg CHAPS), and the banks to settle balances among themselves. 
</p>
<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>


<h4 class="mt-5" style="color:#005e6e;">We keep price rises low and stable</h4> 
<p style="font-size: 16.5px;">We guard the value of your money by keeping prices stable. The measure of how much prices go up over time is called inflation. </p>
<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>


<h4 class="mt-5" style="color:#005e6e;">We make sure banks are run well</h4> 
<p style="font-size: 16.5px;">Our  <a href="" style="color:#aa0b3c;text-decoration: underline;">Prudential Regulation Authority </a>regulates and supervises all the major banks, building societies, credit unions, insurers and investment firms in the UK. </p>
<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>



<h4 class="mt-5" style="color:#005e6e;">We keep the whole UK financial system stable</h4> 
<p style="font-size: 16.5px;">People need a stable financial system and it’s our job to make sure the UK has one.  </p>
<p style="font-size: 16.5px;">A financial system connects people who want to save, invest or borrow money. It's a vital part of our economy. </p>
<p style="font-size: 16.5px;">We keep the UK’s financial system stable by keeping a close watch on any risks and taking action, if we need to. </p>
<p style="font-size: 16.5px;">For example, we can lend to banks if they need it to ensure they can continue to lend to businesses and support the economy. And we make sure that a failing bank doesn’t cause problems for the depositors, UK taxpayers or the wider economy.</p>
<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>


<h2 style="color:#005e6e;" class="mt-5 pt-5">How we do our job</h2>  
<h4  style="color:#005e6e;"  class="mt-4">We gather data </h4>  
<p style="font-size: 16.5px;">We gather and analyse data from banks and building societies, credit unions, insurers and mortgage companies. We publish much of it in our regular  <a href="" style="color:#aa0b3c;text-decoration: underline;">statistical releases</a>.</p>

<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>


<h4  style="color:#005e6e;"  class="mt-4">We research  </h4>  
<p style="font-size: 16.5px;">Research helps us to make better decisions. Data is an important part of this work. But we also listen to businesses and local communities around the UK. </p>

<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>

<h4  style="color:#005e6e;"  class="mt-4">We produce education resources  </h4>  
<p style="font-size: 16.5px;">We want everyone to understand how the economy works and what we do. So we produce  <a href="" style="color:#aa0b3c;text-decoration: underline;">introductory guides to the economy </a>and  <a href="" style="color:#aa0b3c;text-decoration: underline;">free education resources</a> for schools. </p>
<p style="font-size: 16.5px;">You can also  <a href="" style="color:#aa0b3c;text-decoration: underline;">get involved </a>in other ways. For example, you can apply to take part in one of our local <a href="" style="color:#aa0b3c;text-decoration: underline;"> Citizens' Panels </a>or host one of our  <a href="" style="color:#aa0b3c;text-decoration: underline;">Community Forums</a>.</p>
<a  href="" style="font-size: 16.5px;color:#aa0b3c;text-decoration: underline;">show more <strong>+</strong></a>

</div>
<div class="col-md-3">
</div>
    </div>
    <div class="row">
      <div class="col-md-9">
      </div>
    
    
    <div class="col-md-3 mt-5 pb-5"><a href="" style="float: right;font-size:18px;color: #aa0b3c; "> <img  style="max-width:25px;" src="../assets/img/up-arrow.png">Back To Top</a></div>
   
    </div>
    <div style="border-top:1px solid #6b7e87"></div>
<div class="row mt-4 mb-5">
<div class="col-md-5">
 
  <div style="font-size: 17px"> page was last updated 03 March 2020</div></div>
<div class="col-md-3"></div>
<div class="col-md-4">
  <h5>Was this page useful?
    <img src="../../assets/img/smile.png" class="pr-2 pl-2">
    <img src="../../assets/img/sad.png">
  </h5>
</div>
</div>
  </div>
  <div class="col-md-1"></div>
</div>









</div>


</section>

</main>




    <footer>
        <div style="background:#00294e;">
        <div class="container">
      
          <div class="row mt-3 pb-3">
            <div class="col-md-1"></div>
            <div class="col-md-9">
      <div class="row" style="color:white;">
            <div class="col-md-3 pt-2">
           
              <a href=""><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/footer-logo.svg?h=48&la=en&mh=50&mw=240&w=215&hash=E52454E60787ED7B9465303E800F2ED61C9EB987" style="width:215px;height: 48px;"></a>
      <div class="mt-4">
              <h5 class="mt-4">Follow us</h5>
      
        <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
        <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
        <a href=""><img  style="max-width:38px;" src="../assets/img/li.png"></a>
        <a href=""><img  style="max-width:40px;" src="../assets/img/yt.png"></a>
        <a href=""><img  style="max-width:45px;" src="../assets/img/tt.png"></a>
         </div>
         <div class="mt-3">
          <h5 class="mt-4">Museum</h5>
      
      <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
      <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
      <a href=""><img  style="max-width:38px;" src="../assets/img/ig.png"></a>
      
      </div>
            </div>
            <div class="col-md-3 mt-2">
              <h5>Browse topics</h5>
              <ul class="pt-2 pl-0" style="list-style:none; ">
                <li >banknotes</li>
                <li >careers</li>
                <li >Education</li>
                <li >Financial stability</li>
                <li >Gold</li>
                <li >Markets</li>
                <li >Monetary policy</li>
                <li >Payment and settlement</li>
                <li >Prudential regulation</li>
                <li >Research</li>
                <li >Statistics</li>
               
      
                
              </ul>
            </div>
      
            
            <div class="col-md-3 mt-2">
              <h5>Useful links</h5>
              <ul class="pt-2 pl-0" style="list-style:none; ">
                <li >Contact us</li>
                <li >Subscribe to emails</li>
                <li >FAQs</li>
                <li >Freedom of information</li>
                <li >CCBS</li>
                <li >KnowledgeBank</li>
                <li >The Archive</li>
                <li >visit the mueseum</li>
               
              </ul>
            </div>
            <div class="col-md-3">
              <p>Switchboard: +44(0)20 3461 4444
              <br>Enquiries: +44(0)20 3461 4878</p>
              <h5 class="pt-3">Visiting the museum</h5>
              <p class="pt-1">Bartholomew Lane, London, EC2R 8AH</p>
            </div>
      </div>
            </div>
            <div class="col-md-2"></div>
      
      
            <div class="col-md-1">
            </div>
            <div class="col-md-2 pt-5">
              <p style="color:white">©2020 Bank of England</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 pt-5">
              <ul class="list-inline">
                <li><a href="" style="color:white">Accessibility</a></li>
                <li><a href="" style="color:white">Cookies</a></li>
                <li><a href="" style="color:white">Cymraeg</a></li>
                <li><a href="" style="color:white">Legal</a></li>
                <li><a href="" style="color:white">Privacy</a></li>
                <li><a href="" style="color:white">SiteMap</a></li>
                
              </ul>
            </div>
            <div class="col-md-2"></div>
          </div>
      
      
      
        </div>
        
        
        </div>
      </footer>