<header>
    <div class="topnav" id="myTopnav" style="background:#f6f6f6;">   
         <a routerLink="/home"  data-toggle="pill"><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/logo-boe.svg?h=48&la=en&mh=61&w=215&hash=AC948B7462B3B0F4C12592CE7C11D3ABD746AB6D" style="width:215px;height: 48px;"></a>
         <span style="float: right;">
          
        <a data-toggle="pill" href="" style="background-color: #aa0b3c;color:white">Browse</a>
        <a data-toggle="pill"  routerLink="/About" >About</a>
        <a data-toggle="pill" routerLink="/News" >News and Publication</a>
        <a data-toggle="pill" routerLink="/Mueseum">Mueseum</a>
         <a data-toggle="pill" routerLink="/Contact">Contact</a>
      <a data-toggle="pill" href="">  <form action="" method="get" >
        
            <div style="display:flex;font-size: 10px;">
          <input type="search" name="SearchTerm"  class="form-control" placeholder="Search the Bank of England"   autocomplete="off" style="width:212px;height: 38px;border:none;">
        
          <button class="btn btn-danger" type="submit" style="height:38px;width:42px;"><i  class="fa fa-search" style="font-size: 21px;"></i></button>
          </div>
            
                
  </form></a>

         <a href="#" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
     </span>
     
    </div>
    </header>

<main>

    <section style="background: url(https://www.bankofengland.co.uk/-/media/boe/images/banners/bank-banner.jpg?h=541&amp;w=1440&amp;hash=4560B608189FEC81978364607D9F2C06BC121AD9);background-repeat: no-repeat; " class="pb-3 before">
        <div class="container  pt-5 mb-5">
          <div class="pt-5 mt-5 pb-5" style="color: white;">
            <div class="row pt-5 pb-4">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                  <span>
                <a href="" style="color: white;text-decoration:underline;">Home</a>/
                Contact
                </span>
                <div style="font-size: 59.4px;"><b>Contact Us </b></div>
                <div  style="font-size: 21.96px;"><img src="../../assets/img/info.png" class="pr-1" style="height: 30px;"> <span >Find out how to contact us and how to get here</span></div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-3" >
                <div style="border-left:4px solid white; ">
                  <div style="padding-left:30px;">
                  <h3>Related link</h3>
             <div><a href="" style="color:white;font-size: 18px;"><img src="../../assets/img/send.png" class="pr-2">Frequently asked questions</a> </div>
             <div><a href="" style="color:white;font-size: 18px;"><img src="../../assets/img/send.png" class="pr-2">Our people</a> </div>
        
                </div>
                  
                </div>
               
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
        </section>

        <section>
            <div class="container mt-5">
                <div class="row pb-5">
<div class="col-md-1"></div>
<div class="col-md-3">
    <h5>On this page</h5>
</div>

<div class="col-md-8"></div>

                    <div class="col-md-1"></div>
                    <div class="col-md-3 mr-5" >
                       
                        <div class="pb-1">
                        <a href="" style="color:#aa0b3c; font-size: 16px;">
                        <img src="../../assets/img/arrow.png" alt="">
<span class="pl-2">How to contact us</span>
                        </a>
</div>
<div>
                        <a href="" style="color:#aa0b3c; font-size: 16px;">
                            <img src="../../assets/img/arrow.png" alt="">
    <span class="pl-2 ">Fraud and scam warning for members of the public
    </span>
</a>
</div>
                    </div>
                    <div class="col-md-3">
                        <div class="pb-1">
                        <a href="" style="color:#aa0b3c; font-size: 16px;">
                        <img src="../../assets/img/arrow.png" alt="">
<span class="pl-2">How to contact us</span>
                        </a>
</div>
<div>
                        <a href="" style="color:#aa0b3c; font-size: 16px;">
                            <img src="../../assets/img/arrow.png" alt="">
    <span class="pl-2">Fraud and scam warning for members of the public
    </span>
</a>
</div>
                    </div>

<div class="col-md-5"></div>

                </div>


<div class="row pt-5">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h2 style="color: #005e6e"> How to contact us</h2>
        <h4 style="color: #005e6e" class="pt-4"> Main contact number</h4>
        <p style="font-size: 16.5px;"> 020 3461 4444 (Monday to Friday, 9am to 5pm)</p>
        <p style="font-size: 16.5px;">Please use this number if you know the name of the person or department you would like to contact. Or you can fax 020 3461 4771.</p>
   
        <h4 style="color: #005e6e" class="pt-4"> General enquiries</h4>
   <p style="font-size: 16.5px;"> Have a look at our links to popular topics (such as exchanging old banknotes). You may also find the answer in our <a href="" style="color:#aa0b3c; text-decoration: underline;"> FAQs</a>. Or you can get in touch by email, phone, post or social media:</p>
   <ul style="font-size: 16.5px;">
       <li><a href="" style="color:#aa0b3c; text-decoration: underline;">enquiries@bankofengland.co.uk</a></li>
       <li>020 3461 4878 (Monday to Friday: 10am - 12noon)</li>
       <li>write to us at Bank of England, Threadneedle St, London, EC2R 8AH</li>
       <li>Twitter <a href="" style="color:#aa0b3c; text-decoration: underline;">@bankofengland</a> and Facebook <a href="" style="color:#aa0b3c; text-decoration: underline;">@bankofengland</a>.co.uk</li>
   </ul>
   <p style="font-size: 16.5px;" class="pt-2"><a href="" style="color:#aa0b3c; text-decoration: underline;">Have you been contacted by the Bank?</a></p>

   <h4 style="color: #005e6e" class="pt-4"> Media enquiries</h4>
<p style="font-size: 16.5px;">If you're a journalist, please use:</p>
<ul style="font-size: 16.5px;"> 
    <li><a href="" style="color:#aa0b3c; text-decoration: underline;">press@bankofengland.co.uk</a></li>
    <li>020 3461 4411</li>
</ul>


<h4 style="color: #005e6e" class="pt-4"> Regulated firms</h4>
<p style="font-size: 16.5px;">If you’re from a regulated firm, please use the below for any enquiry except those relating to the BEEDS portal</p>
<ul style="font-size: 16.5px;"> 
    <li><a href="" style="color:#aa0b3c; text-decoration: underline;">PRA.FirmEnquiries@bankofengland.co.uk</a>(we are available on email from 9am - 5pm)</li>
    <li>020 3461 7000 - Monday to Friday: 10am - 12noon (have your six digit firm reference number (FRN xxxxxx) ready)</li>
    <li>Firm Enquiries Team (MG1-SE), Prudential Regulation Authority, 20 Moorgate, London, EC2R 6DA</li>
</ul>

<p style="font-size: 16.5px;" class="pt-3">If your query is about the Bank of England Electronic Data Submission (BEEDS) portal please contact:</p>
<ul style="font-size: 16.5px;"> 
    <li><a href="" style="color:#aa0b3c; text-decoration: underline;">BEEDSQueries@bankofengland.co.uk</a></li>
    <li>020 3461 5360 (please have your six digit firm reference number (FRN) ready) </li>
</ul>


<h4 style="color: #005e6e" class="pt-4"> International regulators</h4>
<p style="font-size: 16.5px;">If you are aware of the relevant supervision team you wish to contact, please feel free to contact them directly.</p>
<p style="font-size: 16.5px;" class="pb-2">If you need information about an individual or a firm in the form of a Goodstanding Letter, please see our guides below:</p>

<div style="font-size: 16.5px;">
    <a href="" style="color:#aa0b3c; ">
<img src="../../assets/img/pd.png" style="height: 28px;">
Goodstanding letter information sheet (PDF)</a>
</div>


<div style="font-size: 16.5px;">
    <a href="" style="color:#aa0b3c; ">
<img src="../../assets/img/pd.png" style="height: 28px;">
Goodstanding letter checklist (DOCX)</a>
</div>

<div style="font-size: 16.5px;">
    <a href="" style="color:#aa0b3c; ">
<img src="../../assets/img/pd.png" style="height: 28px;">
Goodstanding letter FAQs (PDF)</a>
</div>

<div style="font-size: 16.5px;" class="pt-4">
    If you have FMI queries please email:
    <a href="" style="color:#aa0b3c;text-decoration: underline;">
        FMIInformation@bankofengland.gsi.gov.uk.</a>

        <p class="pt-4">For all other queries, please contact the PRA Firm Enquiries team (see section under Regulated firms for contact details).</p>
</div>

<h4 style="color: #005e6e" class="pt-4 "> Statistics</h4>
<div style="font-size: 16.5px;" class="pb-4">
<p >If you're a statistics user, please use:</p>
<ul>
<li> <a href="" style="color:#aa0b3c;text-decoration: underline;">dsd_editor@bankofengland.co.uk</a></li>
</ul>
</div>

<h1 style="color: #005e6e" class="pt-5"> Fraud and scam warning for members of the public</h1>
<div style="font-size: 16.5px;">
<p class="pt-2" >If someone has contacted you saying they hold money that belongs to you and they work for the Bank of England -  it is a scam. We are not a high street bank so we don’t hold accounts for members of the public. Please do not give them personal information or click on any links.</p>
<p class="pt-2">Please report it on the <a href="" style="color:#aa0b3c; text-decoration: underline;">Action Fraud website</a>. If you are unsure, please email, call or write to us.</p>

</div>


<h1 style="color: #005e6e" class="pt-5"> Supplying goods and services to the Bank of England</h1>
<div style="font-size: 16.5px;">
<p class="pt-2" >We are a Contracting Authority under the Public Procurement Regulations 2006.</p>
<p class="pt-2">If you are interested in supplying goods and services to us, please register with our <a href="" style="color:#aa0b3c; text-decoration: underline;">e-tendering portal 'ProContract'</a>. registration does not guarantee that you will be selected as a potential supplier.</p>
<p class="pt-2">We have standard<a href="" style="color:#aa0b3c; text-decoration: underline;">purchase order terms and conditions </a>for goods and services.</p>
<p class="pt-2"><a href="" style="color:#aa0b3c; text-decoration: underline;">Our Supplier Code of Practice</a>highlights values and principles that are important to us. We expect our suppliers to adhere to this code.</p>
<p class="pt-2">If you have problems registering, or need  to contact our Procurement Group, please email:<a href="" style="color:#aa0b3c; text-decoration: underline;">Procurement.Group@bankofengland.co.uk. </a></p>

</div>

<h1 style="color: #005e6e" class="pt-5 mb-3"> How to get here</h1>
<p class="pt-5"> 
    <iframe src="https://snazzymaps.com/embed/7256" frameborder="0" width="100%" height="500px"></iframe>
</p>


<h4 style="color: #005e6e" class="pt-5"> By public transport</h4>
<div style="font-size: 16.5px;">
    <p class="pt-2">For information on getting here by bus, train and tube, see the <a href="" style="color:#aa0b3c; text-decoration: underline;">Transport for London website.</a></p>

    </div>

    <h4 style="color: #005e6e" class="pt-5"> By car or coach</h4>
<div style="font-size: 16.5px;">
    <p class="pt-2">We are in the City of London and there are no parking spaces near us. We suggest you use public transport if you can. The nearest car parks are at:</p>

<ul>
    <li>Thames Exchange, Bell Wharf Lane, EC4R 3TB</li>
    <li>158 to 170 Aldersgate Street, EC1A 4HY</li>
</ul>

<p class="pt-2">The City of London has more <a href="" style="color:#aa0b3c; text-decoration: underline;"> information about parking in the City</a></p>
<p class="pt-2">There is no parking on Bartholomew Lane. Drivers and coach operators who drop off or pick up passengers on the double yellow lines do this at their own risk.</p>

    </div>

    <h4 style="color: #005e6e" class="pt-5"> Cycling</h4>
<div style="font-size: 16.5px;">
    <p class="pt-2">The nearest cycle stands to the Bank of England building and Bank of England Museum are at Lothbury (corner with Prince's Street) and Royal Exchange Avenue. The nearest cycle stands to the Prudential Regulation Authority building are at Great Bell Alley and Copthall Buildings.</p>
    <p class="pt-2">The nearest cycle hire docking station to the Bank of England, the Prudential Regulation Authority buildings and the Bank of England Museum is the Bank of England museum docking station on Bartholomew Lane.  You can find the current status of bike docking stations on Transport for London’s website, along with more information on cycling in London.</p>
    <p class="pt-2">We are sorry but there is currently no cycle parking for visitors within the Bank of England or Prudential Regulation Authority buildings or the Bank of England Museum.</p>

    </div>

    <h4 style="color: #005e6e" class="pt-5"> Getting into the building if you use a wheelchair</h4>
    <div style="font-size: 16.5px;">
        <p class="pt-2">The nearest cycle stands to the Bank of England building and Bank of England Museum are at Lothbury (corner with Prince's Street) and Royal Exchange Avenue. The nearest cycle stands to the Prudential Regulation Authority building are at Great Bell Alley and Copthall Buildings.</p>
        <p class="pt-2">If you are visiting someone at the Bank, please let your host know in advance if you use a wheelchair. They will make sure you can get to all the parts of the building you need to.</p>
</div>
    </div>





    <div class="col-md-3">
        <h2 style="color: #005e6e"> Popular topics</h2>

        <div class="pt-2">
            <a href="" style="color:#aa0b3c; font-size: 16px;">
                <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Exchanging old banknotes</span>

</a>
</div>

<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Careers</span>

</a>
</div>

<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Speaker request form</span>

</a>
</div>


<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Bank of England Museum</span>

</a>
</div>


<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Whistleblowing</span>

</a>
</div>


<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Complaints against the regulators</span>

</a>
</div>



<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">New Bank Start-up Unit</span>

</a>
</div>


<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Statistics</span>

</a>
</div>

<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Centre for Central Banking Studies applications</span>

</a>
</div>

<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Financial sector continuity</span>

</a>
</div>

<div  class="pt-2">
    <a href="" style="color:#aa0b3c; font-size: 16px;">
        <img src="../../assets/img/next.png" alt="">
<span class="pl-2">Archive</span>

</a>
</div>

    </div>
</div>

<div class="row mt-5 pb-5">
    <div class="col-md-8">
    </div>
  
  
  <div class="col-md-3 "><a href="" style="float: right;font-size:18px;color: #aa0b3c; "> <img  style="max-width:25px;" src="../assets/img/up-arrow.png">Back To Top</a></div>
 <div class="col-md-1"></div>
  </div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
  <div style="border-top:1px solid #6b7e87"></div>
  <div class="row mt-4 mb-5">
  <div class="col-md-5">
   
    <div style="font-size: 17px"> page was last updated 03 March 2020</div></div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <h5>Was this page useful?
      <img src="../../assets/img/smile.png" class="pr-2 pl-2">
      <img src="../../assets/img/sad.png">
    </h5>
  </div>
  </div>
  </div>
  <div class="col-md-1"></div>
  </div>

            </div>
        </section>

</main>


<footer>
    <div style="background:#00294e;">
    <div class="container">
  
      <div class="row mt-3 pb-3">
        <div class="col-md-1"></div>
        <div class="col-md-9">
  <div class="row" style="color:white;">
        <div class="col-md-3 pt-2">
       
          <a href=""><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/footer-logo.svg?h=48&la=en&mh=50&mw=240&w=215&hash=E52454E60787ED7B9465303E800F2ED61C9EB987" style="width:215px;height: 48px;"></a>
  <div class="mt-4">
          <h5 class="mt-4">Follow us</h5>
  
    <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
    <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
    <a href=""><img  style="max-width:38px;" src="../assets/img/li.png"></a>
    <a href=""><img  style="max-width:40px;" src="../assets/img/yt.png"></a>
    <a href=""><img  style="max-width:45px;" src="../assets/img/tt.png"></a>
     </div>
     <div class="mt-3">
      <h5 class="mt-4">Museum</h5>
  
  <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
  <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
  <a href=""><img  style="max-width:38px;" src="../assets/img/ig.png"></a>
  
  </div>
        </div>
        <div class="col-md-3 mt-2">
          <h5>Browse topics</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >banknotes</li>
            <li >careers</li>
            <li >Education</li>
            <li >Financial stability</li>
            <li >Gold</li>
            <li >Markets</li>
            <li >Monetary policy</li>
            <li >Payment and settlement</li>
            <li >Prudential regulation</li>
            <li >Research</li>
            <li >Statistics</li>
           
  
            
          </ul>
        </div>
  
        
        <div class="col-md-3 mt-2">
          <h5>Useful links</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >Contact us</li>
            <li >Subscribe to emails</li>
            <li >FAQs</li>
            <li >Freedom of information</li>
            <li >CCBS</li>
            <li >KnowledgeBank</li>
            <li >The Archive</li>
            <li >visit the mueseum</li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <p>Switchboard: +44(0)20 3461 4444
          <br>Enquiries: +44(0)20 3461 4878</p>
          <h5 class="pt-3">Visiting the museum</h5>
          <p class="pt-1">Bartholomew Lane, London, EC2R 8AH</p>
        </div>
  </div>
        </div>
        <div class="col-md-2"></div>
  
  
        <div class="col-md-1">
        </div>
        <div class="col-md-2 pt-5">
          <p style="color:white">©2020 Bank of England</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 pt-5">
          <ul class="list-inline">
            <li><a href="" style="color:white">Accessibility</a></li>
            <li><a href="" style="color:white">Cookies</a></li>
            <li><a href="" style="color:white">Cymraeg</a></li>
            <li><a href="" style="color:white">Legal</a></li>
            <li><a href="" style="color:white">Privacy</a></li>
            <li><a href="" style="color:white">SiteMap</a></li>
            
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
  
  
  
    </div>
    
    
    </div>
  </footer>