<header>
    <div class="topnav" id="myTopnav" style="background:#aa0b3c;color:white;">
        <a routerLink="/home" data-toggle="pill"><img
                src="https://www.bankofengland.co.uk/-/media/boe/images/logo/boe-logo-museum.svg?la=en&mh=61&hash=560F4855344EB9E7A8AB29BFA2D356A509B34327"></a>
        <span style="float: right;">

            <a data-toggle="pill" routerLink="">Inside the mueseum</a>
            <a data-toggle="pill" routerLink="/Mueseum/whatsOn">What's on</a>
            <a data-toggle="pill" routerLink="/Mueseum/plan-your-visit">Plan your visit</a>
            <a data-toggle="pill" routerLink="">Book a presentation</a>
            <a data-toggle="pill" routerLink="/home" style="background-color: black;">Bank of England</a>

            <a class="icon" (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>



        </span>

    </div>
</header>

<main>
    <section style="background:url(https://www.bankofengland.co.uk/-/media/boe/images/museum/plan-your-visit/looking-at-exhibits.jpg?h=748&amp;w=1600&amp;hash=BFC79C1866024080428F2E3B984E3858477562E0;);background-repeat: no-repeat;background-size: cover;" class="before">
        <div class="container">
          <div  style="color: white;padding: 100px 0px 100px 0px;">
            <div class="row pt-5 pb-5">
              <div class="col-md-1"></div>
              <div class="col-md-7"><span>
                <a routerLink="/Mueseum" style="color: white;text-decoration:underline;">Mueseum</a>/
               Plan your visit
                </span>
                <h1 style="font-size: 59.4px;"> Plan your visit</h1>
                <div  style="font-size: 21.96px;"><img src="../../assets/img/info.png" class="pr-2" style="height: 30px;"> <span>It's free to visit us</span></div>
              </div>

              <div class="col-md-3">
                <div style="border-left:4px solid white; ">
                    <div style="padding-left:30px;">
                    <h3>Related link</h3>
               <div><a href="" style="color:white;font-size: 18px;"><img src="../../assets/img/send.png" class="pr-2">Accessibility at the museum</a> </div>
          
                  </div>
                    
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
        </section>

        <section>
            <div class="container mt-5">
                <div class="row mt-3 ">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div style="background-color: #00294e;padding:20px 0px;color:white" class="text-center ">
                            <h2>The museum is</h2>
                            <h1 style="font-size: 54px;">closed</h1>
                            <p style="padding:0px 100px">Our museum is temporarily closed. All our museum events during April and May are cancelled. This is due to Government advice on Covid-19. We are sorry for any inconvenience. We hope you stay safe and we are to be able to welcome you back to our museum soon.</p>
                            </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
        
            </div>
        
            
        </section>

        <section style="padding-top: 70px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h2 style="font-size: 36px;color: #005e6e;">Getting here</h2>
                        <p style="color:black;font-size:17px;">We’re in the same building as the Bank of England. Our museum entrance is on Bartholomew Lane, London EC2R 8AH. </p>
                        <p style="color:black;font-size:17px;">If you are facing the Bank of England’s main entrance on Threadneedle Street, we are around the corner on the right. </p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <iframe src="https://snazzymaps.com/embed/7256" frameborder="0" width="100%" height="500px"></iframe>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<section style="padding-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div>
                   <span style="display:flex;"> <img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/plan-your-visit/public-transport.svg?h=30&la=en&mh=30&mw=30&w=30&hash=D84CFC5C7DFB229650C60B2C583E9875118E29D2" alt="" style="float: left;width: 15%;" >
                    <h2 style="font-size: 21px;color: #005e6e; padding:40px 10px;">by tube</h2>
                    </span>   
    

    <p>The nearest underground tube stations are:</p>
    <ul>
        <li>Bank (Central, Northern, and Waterloo & City lines, and Docklands Light Railway)</li>
        <li>Cannon Street (District and Circle lines)</li>
        <li>Mansion House (District and Circle lines)</li>
        <li>Monument (District and Circle lines)</li>
        <li>Moorgate (Northern, and Hammersmith & City lines)</li>
    </ul> 

    <p>Visit <a href="" style="color: #aa0b3c;text-decoration:underline;"> Transport for London </a>    for more information.</p>
</div>


<div>
    <span style="display:flex;"><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/plan-your-visit/bus.svg?h=30&la=en&mh=30&mw=30&w=30&hash=3606048600478CA457E2903EA7D48540B68B0CB7" alt="" style="float:left;width: 15%;" >
        <h2 style="font-size: 21px;color: #005e6e; padding:40px 10px;">by bus</h2>

    </span>

<p>Bus routes 8, 11, 21, 23, 25, 26, 43, 76, 133, 141, 242 and 388 run past the Bank of England.</p>
<p>Routes 47, 48 and 149 run along Gracechurch Street, which is a five-minute walk from us.</p>
</div>

<div>
<span  style="display:flex;"><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/plan-your-visit/train.svg?h=30&la=en&mh=30&mw=30&w=30&hash=D3917E7B97C1C63ECD5A21C9A2AB0344488F0135" alt="" style="float:left;width: 15%;">
        <h2 style="font-size: 21px;color: #005e6e; padding:40px 10px;">By train</h2>
    
    </span>
<p>Liverpool Street, Fenchurch Street and Cannon Street mainline stations are within a 10-minute walk. Visit <a href="" style="color: #aa0b3c;text-decoration:underline;">National Rail </a>for more information.</p>


</div>

<div>
    <span  style="display:flex;"><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/plan-your-visit/car.svg?h=30&la=en&mh=30&mw=30&w=30&hash=D3917E7B97C1C63ECD5A21C9A2AB0344488F0135" alt="" style="float:left;width: 15%;">
        <h2 style="font-size: 21px;color: #005e6e; padding:40px 10px;">By car or coach</h2>
    
    </span>
    <p>We are in the City of London and there are no parking spaces near us. We suggest you use public transport if you can. The nearest car parks are at:</p>

    <ul>
        <li>Thames Exchange, Bell Wharf Lane, EC4R 3TB</li>
        <li>158-170 Aldersgate Street, EC1A 4HY</li>
    </ul>
    <p>The City of London has more <a href="" style="color: #aa0b3c;text-decoration:underline;">information about parking in the City</a>.</p>
    <p>In Bartholomew Lane, drivers and coach operators who drop off or pick up passengers on the double yellow lines do so at their own risk.</p>
</div>




<div >
    <h2 style="font-size: 36px;color: #005e6e; padding:40px 10px;">Frequently asked questions</h2>


    <div class="d-flex justify-content-center" >
          <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
            aria-multiselectable="true">
      
        
            <div class="card">
      
            
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1" >
                <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
                  aria-controls="collapse1"  style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    What does it cost? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
              
              <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Entry is free of charge. All our activities, exhibitions, talks and presentations are also free.</p>
                </div>
              </div>
            </div>
        
      
            
            <div class="card">
      
            
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
                  aria-expanded="false" aria-controls="collapse2" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    What are your opening hours? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
            
              <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>We are open Monday to Friday from 10am to 5pm (last entry 4.30pm).</p>
                </div>
              </div>
            </div>
            
            
            <div class="card">
      
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    How long does it take to look around? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Most people take about an hour to look around our museum.</p>
                </div>
              </div>
            </div>


            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Is there a shop or cafe? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>We have a small gift shop where you can buy a range of Bank of England related items.

                    We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum.</p>
                </div>
              </div>
            </div>


            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse5"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Is there Wifi? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Yes, there’s free wifi for our visitors.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse6"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Do you have anywhere to store luggage?<i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>No - we don’t have lockers or anywhere to store luggage - if you bring luggage, you must keep it with you at all times.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse7"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    How accessible is the museum? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Please find out <a href="" style="color: #aa0b3c;text-decoration:underline;">what we offer</a>>a to try to make our museum more accessible for everyone.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse8"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Is the museum suitable for families? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Yes! Many of our displays are enjoyed by children of all ages.</p>

                  <p>  Pick up a free activity sheet from our information desk. Get a small reward if you fill one in!</p>
                    
                  <p>  We have activity sheets for different levels of understanding. So there’s something for children of all ages and abilities.</p>
                    <ul>
                  <li>  I spy in the Bank (up to 5 years) </li>
                  <li>  Explore the Bank (5 to 7 years) </li>
                   <li> Investigate the Bank (8 to 11 years) </li>
                  <li>  Discover the Bank (12 to 14 years) </li>
                  <li>  Understand the Bank (15 to 17 years) </li>
                    </ul>

              <p>We often hold free family events and activities during the school holidays. Find out what’s on now or coming soon.</p>
                    
                  <p>  Under-16s must be accompanied by an adult. </p>
                    
                 <p>   We don’t have a lot of space for storing buggies and pushchairs. So we may ask you to take them with you as you go round the museum.</p>
                    
                  <p>  If you bring scooters you must carry them with you at all times.</p>
                    
                  <p> Baby changing facilities are available in our accessible toilet. </p>
                    
                   <p>You are welcome to breast or bottle feed anywhere in the museum.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse9"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Can I take photos or videos?<i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>You can take photos as long as it’s without flash and for personal use only. You’re not allowed to take photos of others without consent or to record videos.

                    We’d love to see your photos on Twitter, Facebook and Instagram so please share them and tag us!</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse10"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Can I bring a school or community group? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Yes, we welcome school and community groups. We can offer you a free group talk or presentation. You must book these in advance.

                    Before your trip, please read our risk-assessment information about <a href="" style="color: #aa0b3c;text-decoration:underline;"> visiting with a school group or visiting with a community group</a>.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse11"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    What do you offer school students? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>We offer free group presentations for 7 to 14 year olds (‘Pounds and Pence’) and for 14 to 18 year olds (‘Keeping on an Even Keel’). These <a href="" style="color: #aa0b3c;text-decoration:underline;"> must be booked </a>at least four weeks in advance.

                    We also offer free <a href="" style="color: #aa0b3c;text-decoration:underline;"> classroom resources </a> including teaching materials, videos and competitions.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse12"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Do you have resources for researchers?<i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Yes. If you’re interested in historical research, find out more about the <a href=""  style="color: #aa0b3c;text-decoration:underline;"> Bank of England’s archive</a>.</p>
                </div>
              </div>
            </div>

            <div class="card">
      
              
              <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse13"
                  aria-expanded="false" aria-controls="collapse3" style="color: #aa0b3c;text-decoration:none;">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                    Can I phone or email you? <i class="fa fa-plus-circle" aria-hidden="true" style="float: right;"></i>
                  </h5>
                </a>
              </div>
      
    
              <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading3"
                data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text">
                  <p>Yes, you can phone us on 020 3461 5545. We can answer your call from 9am to 11am or 4pm to 5pm (Monday to Friday) or you can leave a message. You can also email us at <a href="" style="color: #aa0b3c;text-decoration:underline;">education@bankofengland.co.uk </a>.</p>
                </div>
              </div>
            </div>
</div>
      
      
      </div>
      </div>
            
</div>

              
            
                 <div class="col-md-3"></div>
            
        </div>

        <div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class=" mt-5 pb-5"><a href="" style="float: right;font-size:18px;color: #aa0b3c; "> <img  style="max-width:25px;" src="../assets/img/up-arrow.png" class="pr-1">Back To Top</a></div>
            <div style="border-top:1px solid #6b7e87"></div>
            <div class="row mt-4 mb-5">
            <div class="col-md-5">
             
              <div style="font-size: 17px"> page was last updated 03 March 2020</div></div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
              <h5>Was this page useful?
                <img src="../../assets/img/smile.png" class="pr-2 pl-2">
                <img src="../../assets/img/sad.png">
              </h5>
            </div>
            </div>
</div>
<div class="col-md-1"></div>

        </div>

    </div>
</section>

</main>

<footer>
    <div style="background:#00294e;">
    <div class="container">
  
      <div class="row mt-3 pb-3">
        <div class="col-md-1"></div>
        <div class="col-md-9">
  <div class="row" style="color:white;">
        <div class="col-md-3 pt-2">
       
          <a href=""><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/footer-logo.svg?h=48&la=en&mh=50&mw=240&w=215&hash=E52454E60787ED7B9465303E800F2ED61C9EB987" style="width:215px;height: 48px;"></a>
  <div class="mt-4">
          <h5 class="mt-4">Follow us</h5>
  
    <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
    <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
    <a href=""><img  style="max-width:38px;" src="../assets/img/li.png"></a>
    <a href=""><img  style="max-width:40px;" src="../assets/img/yt.png"></a>
    <a href=""><img  style="max-width:45px;" src="../assets/img/tt.png"></a>
     </div>
     <div class="mt-3">
      <h5 class="mt-4">Museum</h5>
  
  <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
  <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
  <a href=""><img  style="max-width:38px;" src="../assets/img/ig.png"></a>
  
  </div>
        </div>
        <div class="col-md-3 mt-2">
          <h5>Browse topics</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >banknotes</li>
            <li >careers</li>
            <li >Education</li>
            <li >Financial stability</li>
            <li >Gold</li>
            <li >Markets</li>
            <li >Monetary policy</li>
            <li >Payment and settlement</li>
            <li >Prudential regulation</li>
            <li >Research</li>
            <li >Statistics</li>
           
  
            
          </ul>
        </div>
  
        
        <div class="col-md-3 mt-2">
          <h5>Useful links</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >Contact us</li>
            <li >Subscribe to emails</li>
            <li >FAQs</li>
            <li >Freedom of information</li>
            <li >CCBS</li>
            <li >KnowledgeBank</li>
            <li >The Archive</li>
            <li >visit the mueseum</li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <p>Switchboard: +44(0)20 3461 4444
          <br>Enquiries: +44(0)20 3461 4878</p>
          <h5 class="pt-3">Visiting the museum</h5>
          <p class="pt-1">Bartholomew Lane, London, EC2R 8AH</p>
        </div>
  </div>
        </div>
        <div class="col-md-2"></div>
  
  
        <div class="col-md-1">
        </div>
        <div class="col-md-2 pt-5">
          <p style="color:white">©2020 Bank of England</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 pt-5">
          <ul class="list-inline">
            <li><a href="" style="color:white">Accessibility</a></li>
            <li><a href="" style="color:white">Cookies</a></li>
            <li><a href="" style="color:white">Cymraeg</a></li>
            <li><a href="" style="color:white">Legal</a></li>
            <li><a href="" style="color:white">Privacy</a></li>
            <li><a href="" style="color:white">SiteMap</a></li>
            
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
  
  
  
    </div>
    
    
    </div>
  </footer>