


<header>
    <div class="topnav" id="myTopnav" style="background:#aa0b3c;color:white;">
        <a routerLink="/home" data-toggle="pill"><img
                src="https://www.bankofengland.co.uk/-/media/boe/images/logo/boe-logo-museum.svg?la=en&mh=61&hash=560F4855344EB9E7A8AB29BFA2D356A509B34327"></a>
        <span style="float: right;">

            <a data-toggle="pill" routerLink="/">Inside the mueseum</a>
            <a data-toggle="pill" routerLink="/Mueseum/whatsOn">What's on</a>
            <a data-toggle="pill" routerLink="/Mueseum/plan-your-visit">Plan your visit</a>
            <a data-toggle="pill" routerLink="/">Book a presentation</a>
            <a data-toggle="pill" routerLink="/" style="background-color: black;">Bank of England</a>

            <a class="icon" (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>



        </span>

    </div>
</header>

<main>
    <section
        style="background-image: url(https://www.bankofengland.co.uk/-/media/boe/images/banners/museum.jpg?h=673&amp;w=1440&amp;hash=88CD7C1BD2EAF4A45371345B003C16195961C0D2);background-repeat: no-repeat;"
        class="pb-5 pt-5 before">
        <div class=" mt-5 pt-5 pb-5 mb-5" style="color: white;">
            <div class="pt-5">
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 pt-5 pb-5 mb-5">
                        <div class="container">
                            <span>
                                <a href="" style="color: white;text-decoration:underline;">Home</a>/
                                <a href="" style="color: white;text-decoration: underline;">About</a>
                            </span>
                            <h1 style="font-size: 59.4px;">Bank of England Museum </h1>
                            <div style="font-size: 21.96px;"><img src="../../assets/img/info.png" class="pr-1"
                                    style="height: 30px;"> <span>Entry and events are free.</span></div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div style="background-color: #00294e;padding:20px 10px">

                            <a href=""  style="color: white;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/inside-the-museum.png?h=1200&la=en&w=1200&hash=DA9417BF9F72DD05792EC6E1A43A38BBD4518484"
                                            alt="">
                            
                        </div>
                        <div class="col-md-9">
                            <h5> Inside the museum</h5>
                            <p>Explore the 5 different galleries in the museum. <img src="../../assets/img/send.png"
                                    alt="" style="float:right;"> </p>
                        </div>
                    </div>

                    </a>


                    <a href=""  style="color: white;">
                        <div class="row pt-2">
                            <div class="col-md-3">
                                <img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/calenderevent.png?h=1200&amp;la=en&amp;w=1200&amp;hash=CFB8BD4474801DA21ABCAD0E215282B3961DEB38"
                                    alt="">
                    
                </div>
                <div class="col-md-9">
                    <h5> What's on</h5>
                    <p>Find out more about our upcoming <img src="../../assets/img/send.png" alt=""
                            style="float:right;">events at the museum. </p>
                </div>
            </div></a>

            <a href=""  style="color: white;">
                <div class="row pt-2">
                    <div class="col-md-3">
                        <img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/location-pin.png?h=1200&amp;la=en&amp;w=1200&amp;hash=4E6A77C9771C016D0D01967B87EADAA681721160"
                            alt="">
            
        </div>
        <div class="col-md-9">
            <h5> Plan your visit</h5>
            <div>Bartholomew Lane, London EC2R 8AH. <img src="../../assets/img/send.png" alt="" style="float:right;">
            </div>
        </div>
        </div></a>



        <a href="" style="color: white;">
            <div class="row pt-4">
                <div class="col-md-3">
                    <img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/group.png?h=1200&amp;la=en&amp;w=1200&amp;hash=E0636EE2E865BE8ED685E015F7B70422C35E9DF1"
                        alt="">
                </div>
                <div class="col-md-9">
                    <h5> Book a presentation</h5>
                    <div>Our talks and presentations are free, but you must book in advance. <img
                            src="../../assets/img/send.png" alt="" style="float: right;"> </div>
                </div>
            </div>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>
        


    </section>

<section>
    <div class="container mb-5">
        <div class="row mb-3">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div style="background-color: #00294e;padding:20px 0px;color:white" class="text-center ">
                    <h2>The museum is</h2>
                    <h1 style="font-size: 54px;">closed</h1>
                    <p style="padding:0px 100px">Our museum is temporarily closed. All our museum events during April and May are cancelled. This is due to Government advice on Covid-19. We are sorry for any inconvenience. We hope you stay safe and we are to be able to welcome you back to our museum soon.</p>
                    </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>

    <div class="row " style="background-color: #ebebeb;color: #1e1e1e; padding:40px 0px;">
        <div class="col-md-2"></div> 

        <div class="col-md-7">
            <div style="font-size: 30px;">Keep up to date with our news...</div>
            <div class="row pt-4 pl-5">
                <div class="col-md-2">
                <img src="https://www.bankofengland.co.uk//-/media/boe/images/logo/twitter.svg?la=en&mh=40&mw=40&hash=E160F8A94CB69A29BAFA5FA544BC867A48A01691" alt="">
</div>
<div class="col-md-2"></div>
<div class="col-md-2">
    <img src="https://www.bankofengland.co.uk//-/media/boe/images/logo/facebook.svg?la=en&mh=40&mw=40&hash=E160F8A94CB69A29BAFA5FA544BC867A48A01691" alt="">

</div>
<div class="col-md-2"></div>
<div class="col-md-2">
    <img src="https://www.bankofengland.co.uk//-/media/boe/images/logo/instagram.svg?la=en&mh=40&mw=40&hash=E160F8A94CB69A29BAFA5FA544BC867A48A01691" alt="">

</div>
<div class="col-md-2"></div>
            </div>

     </div>
        <div class="col-md-3"></div>
     </div>
</section>

<section class="mt-5">
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
               <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/cta/inside-the-museum-cta.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=749AE0409773A3753E4DA673DC7F88375C8E9E49" alt="">
                    <div style="background-color: #ebebeb; padding:20px 20px;padding-bottom: 97px;">
                    <h5 style="font-size: 21.96px;color: #aa0b3c;">Inside the museum</h5>
                    <p style="color:black;font-size:17px;">Discover what you can see and do.  <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                   
                    </div></a>

                </div>
                <div class="col-md-4">
                    <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/cta/plan-your-visit.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=E1938D756BD84CA46ED847BEA2228CDBA379DD0F" alt="">
                        <div style="background-color: #ebebeb; padding:20px 20px;padding-bottom: 97px;">
                        <h5 style="font-size: 21.96px;color: #aa0b3c;">Plan your visit</h5>
                        <p style="color:black;font-size:17px;">How to find us and frequently asked questions. <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                       
                        </div></a>
                </div>
                <div class="col-md-4">
                    <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/cta/presentation-cta.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=8BA14DF2D2BDAFEC0FCCE6A2F94E08D7E3419BF9" alt="">
                        <div style="background-color: #ebebeb; padding:20px 20px;">
                        <h5 style="font-size: 21.96px;color: #aa0b3c;">Book a talk or presentation</h5>
                        <p style="color:black;font-size:17px;">Learn about banknotes, gold and the work of the Bank of England. Advance booking is essential. <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                       
                        </div></a>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-md-4">
                    <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/cta/whats-on-cta.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=926050720F8792DD2C9CDF63123C0237F1406AC1" alt="">
                        <div style="background-color: #ebebeb; padding:20px 20px;padding-bottom: 97px;">
                        <h5 style="font-size: 21.96px;color: #aa0b3c;">What's on
                           
                   
                        </h5>
                        <p style="color:black;font-size:17px;"> Find out about our exhibitions and events.
                            <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                       
                        </div></a>
                </div>

                <div class="col-md-4">
                    <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/collections/banknotes/banknotes-medium-cta.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=3ADA86D3FA67BE6794112CC934046711A1DAA6E3" alt="">
                        <div style="background-color: #ebebeb; padding:32px 20px;">
                        <h5 style="font-size: 21.96px;color: #aa0b3c;">  Highlights from our collection</h5>
                        <p style="color:black;font-size:17px;">   Find out about the story of the Bank of England and the history of banknotes.  <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                       
                        </div></a>
                </div>


                <div class="col-md-4">
                    <a href=""  ><img src="https://www.bankofengland.co.uk/-/media/boe/images/museum/cta/accessibility-cta.jpg?h=300&la=en&mh=347&mw=520&w=450&hash=B8E48400889FAC5ADDAF66C0833EF88EE068C826" alt="">
                        <div style="background-color: #ebebeb; padding:20px 20px;padding-bottom: 97px;">
                        <h5 style="font-size: 21.96px;color: #aa0b3c;">Accessibility</h5>
                        <p style="color:black;font-size:17px;">Find out what we offer to help you enjoy your visit. <img src="../../assets/img/next.png" alt="" style="float: right;"></p>
                       
                        </div></a>
                </div>
            </div>

            <div class=" mt-5 pb-5"><a href="" style="float: right;font-size:18px;color: #aa0b3c; "> <img  style="max-width:25px;" src="../assets/img/up-arrow.png" class="pr-1">Back To Top</a></div>
            <div style="border-top:1px solid #6b7e87"></div>
            <div class="row mt-4 mb-5">
            <div class="col-md-5">
             
              <div style="font-size: 17px"> page was last updated 03 March 2020</div></div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
              <h5>Was this page useful?
                <img src="../../assets/img/smile.png" class="pr-2 pl-2">
                <img src="../../assets/img/sad.png">
              </h5>
            </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


</section>
</main>

<footer>
    <div style="background:#00294e;">
    <div class="container">
  
      <div class="row mt-3 pb-3">
        <div class="col-md-1"></div>
        <div class="col-md-9">
  <div class="row" style="color:white;">
        <div class="col-md-3 pt-2">
       
          <a href=""><img src="https://www.bankofengland.co.uk/-/media/boe/images/logo/footer-logo.svg?h=48&la=en&mh=50&mw=240&w=215&hash=E52454E60787ED7B9465303E800F2ED61C9EB987" style="width:215px;height: 48px;"></a>
  <div class="mt-4">
          <h5 class="mt-4">Follow us</h5>
  
    <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
    <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
    <a href=""><img  style="max-width:38px;" src="../assets/img/li.png"></a>
    <a href=""><img  style="max-width:40px;" src="../assets/img/yt.png"></a>
    <a href=""><img  style="max-width:45px;" src="../assets/img/tt.png"></a>
     </div>
     <div class="mt-3">
      <h5 class="mt-4">Museum</h5>
  
  <a href=""><img  style="max-width:41px;" src="../assets/img/fb.png"></a>
  <a href=""><img   style="max-width:42px;" src="../assets/img/twitter.png"></a>
  <a href=""><img  style="max-width:38px;" src="../assets/img/ig.png"></a>
  
  </div>
        </div>
        <div class="col-md-3 mt-2">
          <h5>Browse topics</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >banknotes</li>
            <li >careers</li>
            <li >Education</li>
            <li >Financial stability</li>
            <li >Gold</li>
            <li >Markets</li>
            <li >Monetary policy</li>
            <li >Payment and settlement</li>
            <li >Prudential regulation</li>
            <li >Research</li>
            <li >Statistics</li>
           
  
            
          </ul>
        </div>
  
        
        <div class="col-md-3 mt-2">
          <h5>Useful links</h5>
          <ul class="pt-2 pl-0" style="list-style:none; ">
            <li >Contact us</li>
            <li >Subscribe to emails</li>
            <li >FAQs</li>
            <li >Freedom of information</li>
            <li >CCBS</li>
            <li >KnowledgeBank</li>
            <li >The Archive</li>
            <li >visit the mueseum</li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <p>Switchboard: +44(0)20 3461 4444
          <br>Enquiries: +44(0)20 3461 4878</p>
          <h5 class="pt-3">Visiting the museum</h5>
          <p class="pt-1">Bartholomew Lane, London, EC2R 8AH</p>
        </div>
  </div>
        </div>
        <div class="col-md-2"></div>
  
  
        <div class="col-md-1">
        </div>
        <div class="col-md-2 pt-5">
          <p style="color:white">©2020 Bank of England</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 pt-5">
          <ul class="list-inline">
            <li><a href="" style="color:white">Accessibility</a></li>
            <li><a href="" style="color:white">Cookies</a></li>
            <li><a href="" style="color:white">Cymraeg</a></li>
            <li><a href="" style="color:white">Legal</a></li>
            <li><a href="" style="color:white">Privacy</a></li>
            <li><a href="" style="color:white">SiteMap</a></li>
            
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
  
  
  
    </div>
    
    
    </div>
  </footer>


  
 